<link rel="stylesheet" type="text/css" href="Mallon2016.css">
<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:700,700italic,900,900italic,400italic,400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Cinzel:400,700,900' rel='stylesheet' type='text/css'>



<style>


/*

font-family: 'Playfair Display SC', serif; 400, 700, 900
font-family: 'Josefin Sans', sans-serif; 400, 600, 700
font-family: 'Cinzel', serif; 400, 700, 900


*/



@font-face {
  font-family: 'Snell Roundhand';
  src: url('hinted-SnellRoundhand.eot');
  src: url('hinted-SnellRoundhand.eot?#iefix') format('embedded-opentype'),
    url('hinted-SnellRoundhand.woff') format('woff'),
    url('hinted-SnellRoundhand.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('hinted-SnellRoundhand-Bold.eot');
  src: url('hinted-SnellRoundhand-Bold.eot?#iefix') format('embedded-opentype'),
    url('hinted-SnellRoundhand-Bold.woff') format('woff'),
    url('hinted-SnellRoundhand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('hinted-SnellRoundhand-Black.eot');
  src: url('hinted-SnellRoundhand-Black.eot?#iefix') format('embedded-opentype'),
    url('hinted-SnellRoundhand-Black.woff') format('woff'),
    url('hinted-SnellRoundhand-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/*REMOVE BODY AND #main-content COLOR*/
body{
  background-color: #C0C0C0;
  margin: 0;
  padding: 0;
}
#main-content{
  background-color: white;
}

#main-content > div{
      margin: 0 auto;
      letter-spacing: 0.0125em;
 }

#info, #mission > p, h1, h2, h3{
      text-align: center
 }

#info > p{
  padding: 10px 0;
  font-family: 'Cinzel', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

#info > p:first-child{
  margin-top: 20px;
}

#info > hr{
  width: 50%;
  margin: 10px auto;
}

#main-content > hr{
  width: 75%;
}

#info > .sub{
  font-size: 18px;
  font-weight: 900;
  text-transform: none;
  font-family: 'Snell Roundhand';
  font-style: italic;
  padding: 5px 0;
  color: black;
}

#info a{
  text-decoration: none;
  color: #666;
}

#info a:hover{
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: black;
}

#location > a{
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

#mission{
  padding: 20px 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  width: 90%;
  font-weight: 600;
  line-height: 1.5em;
}

#mission > p{
  padding-bottom: 5px;
}

#mission > hr{
  padding: 0;
}

#honoree, #speaker-bio{
      margin: 0 auto;
      padding-bottom: 20px;
 }

#main-content > img{
  width: 100%;
  margin: 0 auto;
}

#speakers > #honoree > h1{
  font-family: 'Cinzel', serif;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 15px;
}

#speakers > #honoree > #name{
  font-family: 'Cinzel', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  height: 100%;
  line-height: 48px;
}

/*TO USE THIS CLASS, WIDTH AND HEIGHT MUST BE SAME*/
.circle{
  border-radius: 50%;
}

.image-continer{
  position: relative;
}
#honoree img{
  width: 85%;
  display: block;
  padding-bottom: 10px;
  margin: 0 auto;
}

.byline{
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}

#honoree > .byline {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#speakers .bio {
  width: 75%;
  margin: 0 auto;
  text-justify: inter-world;
  line-height: 1.25em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

.bio > p{
  margin: 10px auto;
  text-align: justify;
  padding: 0;
}

.speaker-container > hr{

}

.speaker-container{
  margin: 0 auto;
   display: block;
   margin: 20px auto 30px;
   width: 90%;
  height: auto;
}

.speaker-container > h2{
   display: block;
   font-family: 'Cinzel', serif;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   padding: 5px 0;
   text-transform: capitalize;
}

.speaker-container > img{
   width: 35%;
   left: 0;
   margin-top: 20px;
   text-align: left;
   display: inline-block;
   position: relative;
   vertical-align: middle;
}

.speaker-container > h3{
  display: block;
  margin: 0;
  padding: 0;
}

.speaker-container > #speaker-bio{
  display: inline-block;
  position: relative;
  margin: 0;
  float: right;
  width: 60%;
}

.firstcharacter{
  float: left;
  color: #903;
  font-size: 32px;
  line-height: 32px;
  padding-right: 6px;
  padding-left: 3px;
  font-family: 'Cinzel', serif;
  font-weight: 900;
  margin-bottom: -3px;
}

.sponsors{
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-top: 75px;
}

.sponsors > h1{
  font-family: 'Snell Roundhand';
  font-weight: 900;
  letter-spacing: 0.025em;
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 32px;
}

.sponsors > hr{
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  width: 30%;
}

.presentingSponsors{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.presentingSponsors > img{
  width: 30%;
  vertical-align: middle;
  padding-right: 25px;
  height: auto;
}

#texasCapitalBank{
  height: auto;
}

.presentingSponsors > img:nth-child(2){
  padding-right: 0;
}

.sponsorList{
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-family: 'Cinzel', serif;
  margin-bottom: 50px;
}

.sponsorList > h2, .sponsorList > h3, .sponsorList > h4{
  margin: 0 auto;
  display: inline;
  letter-spacing: .05em;
  text-transform: capitalize;
}

.sponsorList > h2{
  font-size: 32px;
  font-family: 'Cinzel', serif;
  font-weight: 900;
}

.sponsorList > h3{
  font-size: 21px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

.sponsorList > h4{
  font-size: 18px;
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

#goldPatrons{
  margin-bottom: 50px;
}

.perks-container {
  width: 100%;
  display: block;
}

.perks > h2{
  display: inline-block;
  margin: 0;
  padding: 10px 25px 10px 25px;
  margin-left: 25px;
  font-family: 'Cinzel', serif;
  font-weight: 900;
  letter-spacing: .125em;
}

.perks > .price{
  display: inline-block;
  padding-left: 25px;
  font-family: 'Cinzel', serif;
  font-size: 24px;
}

#perks-container .perks ul.perkList{
  margin-left: 25px;
    list-style-type: none;
    text-align: center;
}

#perks-container .perkList > li{
  margin-bottom: 10px;

}

.perkList > li:last-child{
  margin-bottom: 20px;
}
</style>
